<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
  {% include 'HTML/DASHBOARD/style.html' %}

	<title>Tradivtel</title>
</head>
<body>


      <!-- sidebar -->
	  {% include 'HTML/DASHBOARD/sidebar.html' %}


<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
			  {% include 'HTML/DASHBOARD/navbar.html' %}

		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Tableau de bord </h1>
					<ul class="breadcrumb">
						<li>
							<a href="">Tableau de bord </a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Accueil</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Téléchargement.xcl</span>
				</a>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3>102</h3>
						<p>Projets</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>28</h3>
						<p>Techniciens</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>6</h3>
						<p>Spécialité</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>7</h3>
						<p>Equipes</p>
					</span>
				</li>

			</ul>



		</main>
		<!-- MAIN -->
	</section>


	<script src="script.js"></script>
</body>
</html>



