<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tache & Equipe</title>
    {% include 'HTML/DASHBOARD/pages/Header.html' %}

</head>
<body>


  <!--- Sidebar-->

  	  {% include 'HTML/DASHBOARD/sidebar.html' %}

	<section id="content">

  <!--Navbar -->
      {% include 'HTML/DASHBOARD/navbar.html' %}
        <main>
			<div class="head-title">
				<div class="left">
					<h1>Tableau de bord</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="">Tache</a>
						</li>
					</ul>
				</div>


			</div>

			<ul class="box-info">

				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>numbers</h3>
						<p>Equipe</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3></h3>
						<p>Tache</p>
					</span>
				</li>

			</ul>


				<button class="btn btn-primary sm-btn" data-toggle="modal" data-target="#add-equipe-modal">Créer une équipe</button>
				<button class="btn btn-primary sm-btn" data-toggle="modal" data-target="#add-tache-modal">Créer une tache</button>

      <!-- Table Speciality -->
      			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Equipe</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>

					<table>
						<thead>
							<tr>
								<th style="font-size: 20px;"> Nom de L'Equipe </th>
								<th style="font-size: 20px;"> Technician </th>
                                <th style="font-size: 20px;"> Specialite </th>
                                <th style="font-size: 20px;"> Action </th>
							</tr>
						</thead>
<tbody>
  {% for technician in technicians %}
    <tr>

      {% if forloop.first or technician.equipe != technicians.first.equipe %}
        <td rowspan="{{ technician.equipe.technicians.count }}">{{ technician.equipe.name }}</td>
      {% endif %}

		<td>{{ technician.fullname }}</td>
      <td> {{ technician.specialite }}</td>
      <td>
        <button class="btn btn-primary" >Ajouter</button>
        <button class="btn btn-danger">Supprimer</button>
        <button class="btn btn-warning">Modifier</button>
      </td>


    </tr>
  {% endfor %}
</tbody>





					</table>
				</div>
							</div>
				<!--Speciality table !-->
							<div class="table-data">
								<div class="order">
									<div class="head">
										<h3>Tache </h3>
										<i class='bx bx-search' ></i>
										<i class='bx bx-filter' ></i>
									</div>
					<table>
										<thead>
											<tr>
												<th style="font-size: 20px;">Nom complet </th>
												<th style="font-size: 20px;">E-Mail</th>
												<th style="font-size: 20px;">Telephone</th>
												<th style="font-size: 20px;">spécialité </th>
												<th style="font-size: 20px;"> Action </th>
												<th>
												</th>
											</tr>
										</thead>
										<tbody>

			</tbody>
			</table>
		</div>
	</div>
	</main>
    </section>


	  <!-- Modal for adding a new equipe -->
      {% include 'HTML/DASHBOARD/pages/Taches/equipes/add_equipe.html' %}
        	     <!-- notification js sweetAlert-->
      {% include 'js/toastrs/insertion_toastr.js' %}

		<script src="script.js"></script>

</body>
</html>