<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tache & Equipe</title>
    {% include 'HTML/DASHBOARD/pages/Header.html' %}

</head>
<body>


  <!--- Sidebar-->

  	  {% include 'HTML/DASHBOARD/sidebar.html' %}

	<section id="content">

  <!--Navbar -->
      {% include 'HTML/DASHBOARD/navbar.html' %}
        <main>
			<div class="head-title">
				<div class="left">
					<h1>Tableau de bord</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="">Tache</a>
						</li>
					</ul>
				</div>


			</div>

			<ul class="box-info">

				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>numbers</h3>
						<p>Equipe</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3></h3>
						<p>Tache</p>
					</span>
				</li>

			</ul>


				<button class="btn btn-primary sm-btn" data-toggle="modal" data-target="#add-special-modal">Créer une équipe</button>
				<button class="btn btn-primary sm-btn" data-toggle="modal" data-target="#add-technician-modal">Créer une tache</button>

      <!-- Table Speciality -->
      			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Equipe</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>

					<table>
						<thead>
							<tr>
								<th style="font-size: 20px;"> Nom de L'Equipe </th>
								<th style="font-size: 20px;"> Technician </th>
                                <th style="font-size: 20px;"> Specialite </th>
                                <th style="font-size: 20px;"> Action </th>
							</tr>
						</thead>
						<tbody>
  					{% for speciality in specialities %}
						   <tr>
							   <td>{{ speciality.name }}</td>
							  	<td>{{ speciality.description }}</td>
							<div>
								<td>
								{% if speciality.id in technician_specialities %}
									<button class="btn btn-primary btn-md text-muted">Modifier</button>
									<button class="btn btn-danger btn-md text-muted">Supprimer</button>
							    {% else %}
								<a type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#editModal{{ speciality.id }}">Modifier</a>
<button class="btn btn-danger btn-md delete-item" data-type="speciality" data-url="/authentication/technician/deleteS/{{speciality.id}}/" data-id="{{speciality.id}}">Suprimer</button>
               <!-- Print out the speciality id here -->
									{% endif %}
						  		</td>
							</div>

							</tr>
							{% endfor %}

							</tbody>
					</table>
				</div>
							</div>
				<!--Speciality table !-->
							<div class="table-data">
								<div class="order">
									<div class="head">
										<h3>Techniciens:</h3>
										<i class='bx bx-search' ></i>
										<i class='bx bx-filter' ></i>
									</div>
					<table>
										<thead>
											<tr>
												<th style="font-size: 20px;">Nom complet </th>
												<th style="font-size: 20px;">E-Mail</th>
												<th style="font-size: 20px;">Telephone</th>
												<th style="font-size: 20px;">spécialité </th>
												<th style="font-size: 20px;"> Action </th>
												<th>
												</th>
											</tr>
										</thead>
										<tbody>
				  {% for technician in technicians %}
					<tr>
					  <td>{{ technician.fullname }}</td>
					  <td>{{ technician.email }}</td>
					  <td>{{ technician.telephone }}</td>
					  <td>{{ technician.specialite.name }}</td>
					  <td>
				<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ technician.id }}">Modifier</a>
						<button class="btn btn-danger btn-md delete-item" data-type="technician" data-url="/authentication/technician/delete/{{technician.id}}/" data-id="{{technician.id}}">Supprimer</button>

					</tr>
					{% endfor %}

			</tbody>
			</table>
		</div>
	</div>
	</main>
    </section>

      {% include 'js/toastrs/insertion_toastr.js' %}
	  <!-- Modal for adding a new speciality -->
      {% include 'HTML/DASHBOARD/pages/Technicians/specialities/adding_speciality.html' %}
	  <!-- Modal for adding a new technician -->
	  {% include 'HTML/DASHBOARD/pages/Technicians/technicians/adding_technician.html' %}
		<!-- edit technician !-->
      {% include 'HTML/DASHBOARD/pages/Technicians/technicians/edit_technician.html' %}
    	<!-- edit speciality !-->
      {% include 'HTML/DASHBOARD/pages/Technicians/specialities/edit_speciality.html' %}
	  {% include 'js/toastrs/delete_sewetAlert.js' %}
		<script src="script.js"></script>

</body>
</html>