<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technicien</title>

  {% include 'HTML/DASHBOARD/pages/Header.html' %}

</head>
<body>
<main>


  <!--- Sidebar-->

	<section id="sidebar">
  	  {% include 'HTML/DASHBOARD/sidebar.html' %}
	</section>
	<section id="content">

  <!--Navbar -->
      {% include 'HTML/DASHBOARD/navbar.html' %}

  <main>
			<div class="head-title">
				<div class="left">
					<h1>Tableau de bord</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="">Techniciens</a>
						</li>
					</ul>
				</div>

				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Telecharger .xcl</span>
				</a>

			</div>

			<ul class="box-info">

				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>{{technicians_number}}</h3>
						<p>Techniciens</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>{{speciality_number}}</h3>
						<p>Spécialité</p>
					</span>
				</li>

			</ul>


				<button class="btn btn-primary sm-btn" data-toggle="modal" data-target="#add-special-modal">Ajouter une Spécialité</button>
				<button class="btn btn-primary sm-btn" data-toggle="modal" data-target="#add-technician-modal">Ajouter un Technicien</button>

      <!-- Table Speciality -->
      			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Spécialité:</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>

					<table>
						<thead>
							<tr>
								<th style="font-size: 20px;">Nom de Spécialité </th>
								<th style="font-size: 20px;">Description </th>
								<th style="font-size: 20px;"> Action </th>
								<th>
								</th>
							</tr>
						</thead>
						<tbody>
  					{% for speciality in specialities %}
						   <tr>
							   <td>{{ speciality.name }}</td>
							  	<td>{{ speciality.description }}</td>
							<div>
								<td>
								{% if speciality.id in technician_specialities %}
									<button class="btn btn-primary text-muted">Modifier</button>
									<button class="btn btn-danger text-muted">Supprimer</button>
							    {% else %}
								<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ speciality.id }}">Modifier</a>
								<a type="submit" class="btn btn-danger" href="{% url 'delete_speciality' speciality.id %}">Supprimer</a>
								{% endif %}
						  		</td>
							</div>

							</tr>
							{% endfor %}

							</tbody>
					</table>
				</div>
							</div>
				<!--Speciality table !-->
							<div class="table-data">
								<div class="order">
									<div class="head">
										<h3>Techniciens:</h3>
										<i class='bx bx-search' ></i>
										<i class='bx bx-filter' ></i>
									</div>
					<table>
										<thead>
											<tr>
												<th style="font-size: 20px;">Nom complet </th>
												<th style="font-size: 20px;">E-Mail</th>
												<th style="font-size: 20px;">Telephone</th>
												<th style="font-size: 20px;">spécialité </th>
												<th style="font-size: 20px;"> Action </th>
												<th>
												</th>
											</tr>
										</thead>
										<tbody>
				  {% for technician in technicians %}
					<tr>
					  <td>{{ technician.fullname }}</td>
					  <td>{{ technician.email }}</td>
					  <td>{{ technician.telephone }}</td>
					  <td>{{ technician.specialite.name }}</td>
					  <td>
				<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ technician.id }}">Modifier</a>
				<a type="submit" class="btn btn-danger" href="{% url 'delete_technician' technician.id %}">Supprimer</a>
					  </td>
					</tr>
					{% endfor %}

			</tbody>
			</table>
		</div>
	</div>
	</main>
	</section>
	  <!-- Modal for adding a new speciality -->
      {% include 'HTML/DASHBOARD/pages/Technicians/adding_speciality.html' %}
	  <!-- Modal for adding a new technician -->
	  {% include 'HTML/DASHBOARD/pages/Technicians/adding_technician.html' %}
		<!-- edit technician !-->
      {% include 'HTML/DASHBOARD/pages/Technicians/edit_technician.html' %}
    	<!-- edit speciality !-->
      {% include 'HTML/DASHBOARD/pages/Technicians/edit_speciality.html' %}
		<script src="script.js"></script>

</body>

</html>